/* MOBILE */
    .mobile-layout {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .order-card {
      padding: 1rem;
      border-radius: 8px;
      background-color: #fff;
    }

  /* DESKTOP */
  
  .desktop-layout {
    table{
      width: 100%;
  }
  
  .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 10%;
    }
    
    .loading {
      display: grid;
      justify-content: center;
    }
    .pagination-labels{
      display: grid;
      justify-items: flex-end;
    }
    .pagination-button {
      display: flex;
    }
    .pagination-button .mat-button-base{
      margin: 8px 8px 8px 0;
    }
    .size{
      display: flex;
    }
    
    .button{
      float: right;
      margin: 22px;
    }
  }